@tailwind base;
@tailwind components;
@tailwind utilities;


tr:hover td {
    background-color: #f8fafc; /* bg-slate-50 */
}

.truncate {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
